body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clydeButton {
  /* border: 10px solid black */
  background-image: url('./images/buttons/clydeFeatured.png');
  border: 1px solid black;
  width: 500px;
  height: 220px;
}

.clydeButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/clydeHoverFeatured.png');
}

.jonesButton {
  border: 1px solid black;
  background-image: url('./images/buttons/robertFeatured.png');
  width: 500px;
  height: 220px;
}

.jonesButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/robertHoverFeatured.png');
}