body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mazeBackground {
  background-image: url('./images/mazeWhite.png');
}

/* .homePageBackground {
  background-image: url('./images/mazeWhite.png');
  background-repeat: repeat-y;
} */

/* BANNER */

.ui.inverted.vertical.center.aligned.segment {
  background: transparent; 
  background-image: url('./images/backsplashWithLogo.png');
  /* background-repeat: no-repeat;
  background-size: 100%;
  height: 535px !important; */
  background-size: cover;
background-repeat: no-repeat;
background-position: center;

width: 100%;
min-height:40em;
margin: auto;

}


/* CLYDE AND ROBERT BUTTONS ON FRONT PAGE */

.clydeButton {
  /* border: 10px solid black */
  background-image: url('./images/buttons/clydeFeatured.png');
  border: 1px solid black;
  width: 500px;
  height: 220px;
  border-radius: 5px;
}

.clydeButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/clydeHoverFeatured.png');
  box-shadow: 0px 0px 25px 5px rgb(110, 110, 110);
}

.jonesButton {
  border: 1px solid black;
  background-image: url('./images/buttons/robertFeatured.png');
  width: 500px;
  height: 220px;
  border-radius: 5px;
}

.jonesButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/robertHoverFeatured.png');
  box-shadow: 0px 0px 25px 5px rgb(110, 110, 110);
}

/* FAMILY TREE ICONS */

.familyTree {
  width: 200px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.familyTree:hover  {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* PHOTOS IN ARTICLES */

.articlePhoto {
  display: table;
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.articlePhoto:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.articlePhotoRow {
  display: table;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.articlePhotoRow:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* FONT FOR HANDWRITTEN LETTERS */

.handWritten {
  font-family: "Pristina";
  font-size: x-large;
}

/* ARTICLE PADDING */

.sidePadding {
  padding-left: 10%;
  padding-right: 10%;
}

/* ARTICLE BUTTON SELECTION */

#buttonSegment .ui.basic.buttons .button {
  color: black !important;
  background: white !important;
  border: 1px solid black !important; 
}

#buttonSegment .ui.basic.buttons .button:hover {
  background: #1b1c1d !important;
  color: white !important;
}

#buttonSegment .ui.basic.buttons .button:focus  {
  background: #1b1c1d !important;
  color: white !important;
}

/* AMAZON BOOK AD */

.farSideAd {
  width: 750px;
  height: 90px;
  background-image: url('./images/ad2.png');
}

.farSideAd:hover {
  cursor: pointer;
}

/* SMALL BACKGROUND FOR ARCHIVES AND IMAGE GALLERY */

.backgroundSmall {
  /* object-fit: cover; */
  /* background-image: url('./images/backsplashPlain.png');
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 100%;
  height: 260px; */
  background-image: url('./images/backsplashPlain.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  min-height:20em;
  margin: auto;

}

/* .backgroundImage {
  object-fit: contain;
  max-height: 100%;
} */

.ui.inverted.menu{
color:transparent
}