body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homePageBackground {
  background-image: url('./images/mazeWhite.png');
  background-repeat: repeat-y;
}

.clydeButton {
  /* border: 10px solid black */
  background-image: url('./images/buttons/clydeFeatured.png');
  border: 1px solid black;
  width: 500px;
  height: 220px;
  border-radius: 5px;
}

.clydeButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/clydeHoverFeatured.png');
  box-shadow: 0px 0px 25px 5px rgb(110, 110, 110);
}

.jonesButton {
  border: 1px solid black;
  background-image: url('./images/buttons/robertFeatured.png');
  width: 500px;
  height: 220px;
  border-radius: 5px;
}

.jonesButton:hover {
  cursor: pointer;
  background-image: url('./images/buttons/robertHoverFeatured.png');
  box-shadow: 0px 0px 25px 5px rgb(110, 110, 110);
}

.familyTree {
  width: 200px;
  height: auto;
}

.articlePhoto {
  display: table;
  margin: 0 auto;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.articlePhoto:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.articlePhotoRow {
  display: table;
  margin: 0 auto;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.articlePhotoRow:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.handWritten {
  font-family: "Pristina";
  font-size: x-large;
}

.ui.inverted.vertical.center.aligned.segment {
    background: #000000; 
    background-image: url('./images/backsplashWithLogo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
}

.mazeBackground.articleButtons {
  background-color: red !important;
}

#buttonList {
  /* background-color: chartreuse !important; */
  border: 1px solid black !important; 
  color: black !important;
  background-color: white !important;
}

.ui button.ui button {
  border: 1.5px solid black !important; 
  color: black !important;
  background-color: red !important;
}

#buttonList.hover {
  background-color: yellow !important;
}
/* 
.articleButtons:hover {
    cursor: pointer;
    border: 1px solid black;
 }

 .articleButtons:active {
  background-color: yellow;
} */

/* .masthead {
  background-image: url('./images/mazeWhite.png');
  background-size: cover !important;
} */

.mazeBackground {
  background-image: url('./images/mazeWhite.png');
}



/* main {
  width:100%;
  min-height:calc(100% - 100px);
  background-image: url('./images/mazeWhite.png');
  background-size: cover;
  background-attachment:fixed;
/* } */